@charset "UTF-8";

body{
    height: 100hv;
    background: black url(imagens/);

}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    margin-top: auto;
}